@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.font-signature {
  font-family: 'Great Vibes', cursive;
}
:root {
  --color-bg: #1A2235;            /* Actual background */
  --color-surface: #253046;       /* Buttons and card backgrounds */
  --color-surface-hover: #131926; /* Buton hover effects */

  --color-text: #F8FAFC;          /* Paragraphs */

  --color-primary: #AECBFA;       /* Main highlights, links, ikons */
  --color-accent: #FDE68A;        /* Headlines, badges ve important touches */
  --color-secondary: #F9A8D4;     /* Spesific things */
}

.stars-layer {
  position: fixed;
  inset: 0;
  animation: drift 60s linear infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes drift {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-40px);
  }
}
